/* Contact Container */
.contact-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  /* Contact Info Section */
  .contact-info {
    flex: 1;
    background-color: #c4c4c4;
    border-radius: 8px;
    padding: 20px;
  }
  
  .info-item {
    margin-bottom: 20px;
  }
  
  .info-item h3 {
    margin: 10px 0;
    font-size: 18px;
  }
  
  .info-item p {
    margin: 5px 0;
    color: #555;
  }
  
  .icon {
    font-size: 24px;
    color: #f05454;
  }
  
  /* Contact Form Section */
  .contact-form {
    flex: 2;
    background-color: #000000;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
  }
  
  .form-group {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
  }
  
  .form-group input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 15px;
  }
  
  .btn-submit {
    background-color: #f05454;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    display: block !important;
  }
  
  .btn-submit:hover {
    background-color: #d84545;
  }
  @media (max-width: 768px) {
    .contact-container {
      flex-direction: column;
      gap: 10px;
    }
  
    .form-group {
      flex-direction: column;
    }
  
    .form-group input {
      width: 100%;
    }
  }
    